In [ ]:
#set example
set = {"apple","banana", False, "1", True,"0"}
print(set)

{False, True, 'apple', 'banana', '1', '0'}

In [ ]:
#creating a set using set() constructor
krish = set(("apple", "banana", "orange"))

print(krish)

{'apple', 'orange', 'banana'}

In [ ]:
#Looping through a set
krish = {"apple", "aura", "nora","priyraj","habibi"}

for x in krish :
    print(x)

apple
habibi
nora
aura
priyraj

In [ ]:
#Adding items to a set
krish = {"priyraj","aura no", "only nora"}

krish.add("sheila")

print(krish)

{'aura no', 'only nora', 'sheila', 'priyraj'}

In [ ]:
#Adding items to a set
krish = {"priyraj","aura no", "only nora"}

krish.add("hello")
print(krish)

{'hello', 'aura no', 'only nora', 'priyraj'}

In [ ]:
#Adding items from another set to a set
krish = {"priyraj","aura no", "only nora"}

aura = {"priyraj","aura no", "only nora"}

krish.update("aura")

print(krish)

{'only nora', 'a', 'u', 'priyraj', 'aura no', 'r'}

In [32]:
#list + set
krish = {"priyraj","aura no", "only nora"}

aura = ["priyj","aua no", "y nora"]

krish.update(aura)
print(krish)

{'only nora', 'aua no', 'y nora', 'priyraj', 'priyj', 'aura no'}

In [ ]:
#Removing items from a set
krish = {"priyraj","aura no", "only nora"}

krish.remove("priyraj")

#krish.discard("priyraj") ---> Won't raise an error unlike remove

print(krish)

{'aura no', 'only nora'}

In [ ]:
#Removing items from a set
krish = {"priyraj", "krish", "ukraine"}

x = krish.pop()

print(x)

print (krish)

krish
{'ukraine', 'priyraj'}

In [ ]:
#Union of two sets
set1 = {"1","2","3","4"}

set2 = {"a","b","c"}

print(set1.union(set2))

{'1', 'b', 'c', '3', '2', 'a', '4'}

In [ ]:
#Union of two sets
set1 = {"1","2","3","4"}

set2 = {"a","b","c"}

print(set1 | set2)

{'1', 'b', 'c', '3', '2', 'a', '4'}

In [ ]:
#Union of three sets
set1 = {"1","2","3","4"}

set2 = {"a","b","c"}

set3 = {"abc","bda", "ccc"}

set4 = set1 | set2 | set3

print(set4)

{'1', '2', 'a', 'c', 'bda', 'b', 'abc', 'ccc', '3', '4'}

In [ ]:
#Intersection of two sets
set1 = {"1","2","3","4"}

set2 = {"a","b","c"}

set3 = {"abc","bda", "ccc"}

set4 = {"1","2","3","4"}

set5 = {"a","b","c"}

set6 = {"abc","bda", "ccc"}

print(set2 & set5)

{'b', 'c', 'a'}

In [ ]:
#Intersection of two sets
set1 = {"1","2","3","4","7"}

set2 = {"a","b","c"}

set3 = {"abc","bda", "ccc"}

set4 = {"1","2","3","4"}

set5 = {"a","b","c"}

set7 = set1.intersection_update(set4)

print(set7)

None

In [ ]:
#Difference of two sets
set1 = {"1","2","3","4"}

set2 = {"a","b","c"}

set3 = {"abc","bda", "ccc"}

set4 = {"1","2","3","4"}

set5 = {"a","b","c"}

set6 = {"abc","bda", "ccc"}

set7 = set6.difference(set2)

print(set7)

{'abc', 'ccc', 'bda'}

In [ ]:
#Difference of two sets
set1 = {"1","2","3","4"}

set2 = {"a","b","c"}

set3 = {"abc","bda", "ccc"}

set4 = {"1","2","3","4"}

set5 = {"a","b","c"}

set6 = {"abc","bda", "ccc"}

print ( set4 - set2)

{'1', '4', '3', '2'}

In [ ]:
#Difference of three sets
set1 = {"1","2","3","4","c"}

set2 = {"a","b","c"}

set3 = {"abc","bda", "ccc", "1"}


set1.difference_update(set2,set3)

print(set1)

{'4', '2', '3'}

In [ ]:
#Difference of three sets
set1 = {"1","2","3","4","c"}

set2 = {"a","b","c"}

set3 = {"abc","bda", "ccc", "1"}

set4 = set1 ^ set2 ^ set3

print(set4)

{'a', '2', 'bda', 'b', 'abc', 'ccc', '3', '4'}

In [ ]:
#Difference of three sets
set1 = {"1","2","3","4","c"}

set2 = {"a","b","c"}

set3 = {"abc","bda", "ccc", "1"}

set4 = set1.symmetric_difference(set2)

print(set4)

{'1', 'a', '2', 'b', '3', '4'}

In [ ]:
#Difference of three sets
set1 = {"1","2","3","4","c"}

set2 = {"a","b","c","2"}

set1.symmetric_difference_update(set2) 

#symmetric diff update symbol ---> ^

print(set1)

{'1', '4', 'b', '3', 'a'}

In [101]:
### SubSet Online

In [ ]:
##Dictionary example
dictionary = {
     "brand": "pusha",
     "name": "priyraj",
     "roll no": "12344",
     "date": " 12/12/2003"
}

print(dictionary)

{'brand': 'pusha', 'name': 'priyraj', 'roll no': '12344', 'date': ' 12/12/2003'}

In [ ]:
#Accessing items in a dictionary
dictionary = {
     "brand": "pusha",
     "name": "priyraj",
     "roll no": "12344",
     "date": " 12/12/2003"
}

x = dictionary["date"]
print(x)

 12/12/2003

In [ ]:
#Accessing items in a dictionary
dictionary = dict(name = "krish", age = "a2", batch = "b3") 
print(dictionary)

{'name': 'krish', 'age': 'a2', 'batch': 'b3'}

In [ ]:
#Accessing items in a dictionary
dictionary = {
     "brand": "pusha",
     "name": "priyraj",
     "roll no": "12344",
     "date": " 12/12/2003"
}

x = dictionary.get("date")

print(x)

 12/12/2003

In [ ]:
#Accessing items in a dictionary
dictionary = {
     "brand": "pusha",
     "name": "priyraj",
     "roll no": "12344",
     "date": " 12/12/2003"
}

x = dictionary.keys()

print(x)

dict_keys(['brand', 'name', 'roll no', 'date'])

In [ ]:
#Accessing items in a dictionary
dictionary = {
     "brand": "pusha",
     "name": "priyraj",
     "roll no": "12344",
     "date": " 12/12/2003"
}

x = dictionary.values()

print(x)

dict_values(['pusha', 'priyraj', '12344', ' 12/12/2003'])

In [ ]:
#    Accessing items in a dictionary
dictionary = {
     "brand": "pusha",
     "name": "priyraj",
     "roll no": "12344",
     "date": " 12/12/2003"
}

x = dictionary.keys()

print(x)

dictionary["purchase"] = "2nd owner"

print(x)

dict_keys(['brand', 'name', 'roll no', 'date'])
dict_keys(['brand', 'name', 'roll no', 'date', 'purchase'])

In [ ]:
#    Accessing items in a dictionary
dictionary = {
     "brand": "pusha",
     "name": "priyraj",
     "roll no": "12344",
     "date": " 12/12/2003"
}

x = dictionary.values()

print(x)

dictionary["roll no"] = "90000"

print(x)

dict_values(['pusha', 'priyraj', '12344', ' 12/12/2003'])
dict_values(['pusha', 'priyraj', '90000', ' 12/12/2003'])

In [ ]:
#    Accessing items in a dictionary
dictionary = {
     "brand": "pusha",
     "name": "priyraj",
     "roll no": "12344",
     "date": " 12/12/2003"
}

x =  dictionary.items()


print(x)

y = dictionary.values()

dictionary["name"] = "krish"

print(x)

dict_items([('brand', 'pusha'), ('name', 'priyraj'), ('roll no', '12344'), ('date', ' 12/12/2003')])
dict_items([('brand', 'pusha'), ('name', 'krish'), ('roll no', '12344'), ('date', ' 12/12/2003')])