In [2]:
#list mutability
list = ["hello", "krish", "apple"]
list[1] = "nora"

print (list)

['hello', 'nora', 'apple']

In [4]:
#list slicing and updating
list = ["3","34","45433","2","apple", "banana", "papeya", "mango", "citrus", "pomogrenate","apple","a", "banana", "papeya", "mango", "citrus", "pomogrenate","apple", "banana", "papeya", "mango", "citrus", "pomogrenate"]

list[4:7] = "umbrella", "ahmedabad", "priyraj"

print(list[4:7])

['umbrella', 'ahmedabad', 'priyraj']

In [9]:
#list slicing and updating
list = ["3","34","45433","2","apple", "banana", "papeya", "mango", "citrus", "pomogrenate","apple","a", "banana", "papeya", "mango", "citrus", "pomogrenate","apple", "banana", "papeya", "mango", "citrus", "pomogrenate"]

list[4:7] = "umbrella"

print(list[4:7])

['u', 'm', 'b']

In [12]:
#list methods
list = ["krish", "ahmedabad", "coding clouding"]

list.insert(0,"tamanna")

print(list)

['tamanna', 'krish', 'ahmedabad', 'coding clouding']

In [15]:
#list methods
list = ["krish", "ahmedabad", "coding clouding"]

list.append("yellow")

print(list)

['krish', 'ahmedabad', 'coding clouding', 'yellow']

In [18]:
#list methods
list = ["krish", "ahmedabad", "coding clouding"]
box = ["3","34","45433","2","apple", "banana", "papeya", "mango"]

box.extend(list)

print(box)

['3', '34', '45433', '2', 'apple', 'banana', 'papeya', 'mango', 'krish', 'ahmedabad', 'coding clouding']

In [24]:
#list methods
tuple = ("krish","code")
list = ["cloud", "rain"]

list.extend(tuple)

print(tuple)

('krish', 'code')

In [25]:
#list methods
box = ["3","34","45433","2","apple", "banana", "papeya", "mango"]

box.remove("mango")

print(box)

['3', '34', '45433', '2', 'apple', 'banana', 'papeya']

In [26]:
#list methods
box = ["3","34","45433","2","apple", "banana", "papeya", "mango"]

box.pop(3)

print(box)

['3', '34', '45433', 'apple', 'banana', 'papeya', 'mango']

In [32]:
#list methods
box = ["3","34","45433","2","apple", "banana", "papeya", "mango"]

del box[5]
print(box)

['3', '34', '45433', '2', 'apple', 'papeya', 'mango']

In [6]:
#list methods
box = ["3","34","45433","2","apple", "banana", "papeya", "mango"]
del box
print(box)

NameError: name 'box' is not defined

In [35]:
#list methods
box = ["3","34","45433","2","apple", "banana", "papeya", "mango"]

box.clear()

print(box)

[]

In [53]:
#if else elif
a = 35
b = 40

if a > b: 
 print("a is greater than b")

elif a == b:
     print("a is equal to b")

else :
    print("b is greater than a")

b is greater than a

In [54]:
#if else elif
a = 35
b = 40

if a > b : print("a greater than b")

elif a == b:
     print("a is equal to b")

else :
    print("b is greater than a")

b is greater than a

In [78]:
#if else elif
a = 4
b = 40

print("a") if a > b else print("=") if a == b else print("b")

b

In [93]:
#nested if
a = float(input("ENTER FIRST NUMBER"))
b = float(input("ENTER SECOND NUMBER"))

if a > b : 
    print("a is greater than b")

if a == b :
    print("a is equal to b")
        
else :
    print("b is greater than a")

b is greater than a

In [96]:
a = 13
b = 45

if a > 10 and a < b :
    print("a is positive and greater than b")

a is positive and greater than b

In [99]:
a = 15
b = 20

if a > b or a > 10 :
    print("a can be reasonable choice")

a can be reasonable choice

In [103]:
a = 15
b = 20

if not a > b :
    print("a is not a good choice")

a is not a good choice

In [106]:
a = 33
b = 14

if b > a:
    pass

In [154]:
list = ["apple", "banana","orange","pear"]

for x in list :
    print(x)

apple
banana
orange
pear

In [158]:
list = ["apple", "banana","orange","pear"]

for i in range(len(list)):
    print(list[i])

apple
banana
orange
pear

In [6]:
thistuple = tuple(("apple", "banana", "orange"))
print(thistuple)

('apple', 'banana', 'orange')

In [8]:
x = ("apple", "banana", "orange", "pear")

y = list(x)

y[1:2] = "krish", "priyraj"

x = tuple(y)

print(x)

('apple', 'krish', 'priyraj', 'orange', 'pear')

In [11]:
x = ("apple", "banana", "orange", "pear")

y = list(x)

y.append("kiwi")

x = tuple(y)

print(x)

('apple', 'banana', 'orange', 'pear', 'kiwi')

In [28]:
x = ("apple", "banana", "orange", "pear")

y = ("kiwi","priyraj noob")

x += y

print(x)

('apple', 'banana', 'orange', 'pear', 'kiwi', 'priyraj noob')

In [32]:
x = ("apple", "banana", "orange", "pear")

y = list(x)

y.remove("banana")

x = tuple(y)

print(x)

('apple', 'orange', 'pear')

In [34]:
x = ("apple", "banana", "orange", "pear")

y = list(x)

del y[1]

x = tuple(y)

print(x)

('apple', 'orange', 'pear')

In [37]:
x = ("apple", "banana", "orange", "pear")

y = list(x)

del y

x = tuple(y)

print(x)

NameError: name 'y' is not defined