In [2]:
#looping using list comprehension

thislist = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in thislist:
    if "a" in x:
        newlist.append(x)
        print(newlist)
[print(x) for x in thislist]

['apple']
['apple', 'banana']
['apple', 'banana', 'mango']
apple
banana
cherry
kiwi
mango

[None, None, None, None, None]

In [4]:
#condition only accept items that are not "apple":
thislist = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in thislist if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#for loop to create a list of numbers between 0 and 9 with conditions
newlist = [ x for x in range(10)]
print(newlist)

newlist = [ x for x in range(10) if x <= 5]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5]

In [10]:
#Using upper(), also replacing values without using replace()

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
print(fruits)

newlist = [ x.upper() for x in fruits]
print(newlist)

newlist = [ 'hello' for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']

In [19]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
print(fruits)

newlist = [ x if x == "banana" else "orange" for x in fruits]

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['orange', 'banana', 'orange', 'orange', 'orange']

In [22]:
list = ["42", "15", "88", "12", "12"]

list.sort(reverse = True)

print(list)

['88', '42', '15', '12', '12']

In [30]:
fruits = ["Apple", "banana", "Cherry", "kiwi", "Mango"]
fruits.sort(key = str.lower)

print(fruits)

['Apple', 'banana', 'Cherry', 'kiwi', 'Mango']

In [31]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

fruits.append("papeya")

print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'papeya']

In [32]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

fruits.clear()

print(fruits)

[]

In [42]:
fruits = ["apple", "banana","banana", "banana", "banana", "banana", "cherry", "kiwi", "mango"]

print(fruits.count("banana"))

print(fruits.index("mango"))

5
8

In [45]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

fruits.insert(1, "pear")

print(fruits)

['apple', 'pear', 'banana', 'cherry', 'kiwi', 'mango']

In [47]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits

print(green)
print(*tropic)
print(red)

apple
mango papaya pineapple
cherry

In [60]:
tuple = ("apple", "banana", "orange")

for i in range(len(tuple)) :
    print(tuple[i])

apple
banana
orange

In [62]:
tuple = ("apple", "banana", "orange")

for i in range(len(tuple)) :
    print(i)

0
1
2

In [63]:
tuple = ("apple", "banana", "orange")

i = 0

while i < len(tuple):
    print(tuple[i])

    i = i + 1

apple
banana
orange

In [67]:
i = 1

while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [70]:
i = 0

while i < 60:
    print(i)

    if i == 44:

        break
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [73]:
i = 0

while i < 60:

    i += 5

    if i == 10 :
     continue

    print(i)

5
15
20
25
30
35
40
45
50
55
60

In [75]:
fruits = ["apple", "banana", "orange","kiwi", "pineapple","watermelon"]

for x in fruits :
    print(x)

    if x == "banana":
        break

apple
banana

In [78]:
fruits = ["apple", "banana", "orange","kiwi", "pineapple","watermelon"]

for x in fruits :
    if x == "kiwi":
        break
    print(x)

apple
banana
orange

In [84]:
krish = ["1", "2", "3"]
fcb = ["apple", "banana", "orange"]

for x in krish:
    for y in fcb:

        print(x,y)

1 apple
1 banana
1 orange
2 apple
2 banana
2 orange
3 apple
3 banana
3 orange