In [2]:
print("hello world")

hello world

In [ ]:
# this is a comment using hashtag
a = 8
b = 18
c = 13
d = -13
# this is a comment using hashtag

"""
this is also a comment using triple quotes
"""


print (a - c -b + d)

-36

In [ ]:
# complex numbers
a = 9 + 4j
b = 9 + 14j 

print (a - b)

-10j

In [ ]:
# exponentiation operator
a = 13
b = 41

print (a ** b)

4695452425098908797088971409337422035076128813

In [ ]:
# multiple assignment
a = "krish"
b = 16

print (a,b)

krish 16

In [18]:
type (a) #this is a function that tells the type of variable

str

In [19]:
type(b)

int

In [22]:
print ('"hello world"') #double quotes inside single quotes ---> asked in interviews

"hello world"

In [25]:
print ("'hello'") #vice versa for the same

'hello'

In [ ]:
a, b , c = 10, 12, 13
print (a, b, c)

10 12 13

In [ ]:
# multiple assignment
a = b= c = "orange"
print (a)
print (b)
print (c)

orange
orange
orange

In [ ]:
# String Concatenation and Formatting
x = "orange is a fruit"
y = "banana is yellow"
print (x)
print (y)
x == y #delcaring x and y are equal
print (x,y)

x = y #assigning the value of y to x
print (x,y)

orange is a fruit
banana is yellow
orange is a fruit banana is yellow
banana is yellow banana is yellow

In [ ]:
# String Concatenation and Formatting
x = "python"
y = "is"
z = "smart"

print (x, y, z)

print (x + y + z) #this will print without spaces

print (x + " " + y + " " + z) #this will print with spaces

python is smart
pythonissmart
python is smart

In [ ]:
# String Methods
a = "Hello World"

print (a)

a.upper() #this will convert the string to upper case
print(a.upper())  # both fucntions are same so only one will be printed

a.lower() #this will convert the string to lower cases
print(a.lower())  # both fucntions are same so only one will be printed

Hello World
HELLO WORLD
hello world

In [ ]:
# this will convert the first character of the string to upper case
a = "        dear     prime minister"
print (a)
print(a.strip()) #this will remove the extra spaces in the string

        dear     prime minister
dear     prime minister

In [ ]:
#replace function in strings
a = "hello, world" 
print (a.replace("h", "j")) #this will replace h with j in the string
print (a.replace("world", "universe")) #this will replace world with universe in the string
print(a.replace("hello", "hi")) #this will replace hello with hi in the string

jello, world
hello, universe
hi, world

In [ ]:
#print(a.replace("o", "a")) #this will replace o with a in the string
age = 22
print(f"krish's age is {age} years") #f string to print variables inside strings

krish's age is 22 years

In [ ]:
#print(f"krish's age is {age} years") #f string to print variables inside strings
age = 22
print(f"krish's age is {age + 8} years") #f string to print variables inside strings with operations

krish's age is 30 years

In [ ]:
print ("i\'d have been there if u had called me earlier") #escaping single quote using backslash

i'd be there if u had called me earlier

In [74]:
print ("i\'d have been there, \n if u had called me earlier") #new line using \n

i'd have been there,
 if u had called me earlier

In [76]:
print ("hello \r world") #carriage return using \r

 world

In [78]:
print ("hello\tworld") #tab space using \t

hello	world

In [ ]:

print ("hellok\b world") #backspace using \b

hello world

In [ ]:
#### **1. Scientific Notation and Variable Types**
x = 35e3
y = 12E4
z = -87.7e100
a = "krish"
print(type(x)) #this will print the type of variable
print(type(y))
print(type(z))
print (x, y, z)

<class 'float'>
<class 'float'>
<class 'float'>
35000.0 120000.0 -8.77e+101

In [ ]:
# formatting to 2 decimal places
price = 49.99
print ("the price of the item is",price)

the price of the item is 49.99

In [ ]:
# formatting to 2 decimal places
price = 49
print (f"the price of the item is {price:.2f}$")

the price of the item is 49.00$

In [ ]:
### **3. Declaring and Printing a Float**
                
a = 36.9
print (f"the temperature is {a:.1f} degree celsius")

the temperature is 36.9 degree celsius

In [ ]:
### **4. Adding Two Integers**
a = float(input("Enter a number: "))
b = float(input("Enter another number: "))
price = a + b 
print (f"the price of the item is {price:.2f}$")

the price of the item is 3.00$

In [ ]:
# 5.calculator
a = float(input("Enter First Number :"))
b = float(input("Enter Second Number :"))

c = a + b
d = a - b
e = a * b
f = a / b

print(f"Addition : {c:.2f}")
print(f"Substraction : {d:.2f}")
print(f"Multiplication : {e:.2f}")
print(f"Division : {f:.2f}")

Addition : 22.00
Substraction : 0.00
Multiplication : 121.00
Division : 1.00

In [ ]:
### **6. Float Arithmetic**

a = 4
b = 4
result = a + b
print(f"Arithmetic result is : {result:.2f}")

Arithmetic result is : 8.00

In [ ]:
### **7. Combining Integers and Floats**
a = 5
b = 2.5

result = a + b
print(f"Combined result is : {result:.2f}")

Combined result is : 7.50

In [ ]:
### **8. Rounding a Float**
a = 4.314578543234
b = round(a,3)

print(f"Rounded result is : {b}")

Rounded result is : 4.315

In [ ]:
### **9. Converting Float to Integer**
a = float(input("enter a float number:"))
b = int(a)
c = round(a)

print("entered value is :",a)
print(f"the interger value is : {b}")
print(f"the rounded value is : {c}")

entered value is : 23.0
the interger value is : 23
the rounded value is : 23

In [ ]:
### **10. Sum of Multiple Floats**
a = float(input("enter a float number:"))
b = float(input("enter another float number:"))
c = float(input("enter another float number:"))
d = float(input("enter another float number:"))
e = float(input("enter another float number:"))
f = float(input("enter another float number:"))

list = [a,b,c,d,e,f]
total = sum(list)

print("entered values are :",list)
print(f"the total sum of the list is : {total:.4f}")

entered values are : [2.0, 4.0, 6.0, 12.6, 146.0, 123.0]
the total sum of the list is : 293.6000

In [ ]:
### **11. More Arithmetic Operations**
x = 15
y = 25
z = 40

result1 = x + y
result2 = x - y
result3 = x * y
result4 = y / x
result5 = y // x
result6 = x ** 2

print("result 1:", result1)
print("result 2:", result2)
print("result 3:", result3)
print("result 4:", result4)
print("result 5:", result5)
print("result 6:", result6)

In [ ]:
### **12. More Arithmetic Operations**
a = 5
b = 2
c = 10

result1 = a * c
result2 = b + c
result3 = c - a
result4 = a / b
result5 = c // b
result6 = b ** a

print("result 1:", result1)
print("result 2:", result2)
print("result 3:", result3)
print("result 4:", result4)         
print("result 5:", result5)
print("result 6:", result6)

result 1: 50
result 2: 12
result 3: 5
result 4: 2.5
result 5: 5
result 6: 32

In [ ]:
# 13. Sum of Multiple Floats
house = [12.45, 15.333, 7.5,34.56, 78.9]
total = sum(house)

print(f"the total sum of the list is : {total:.4f}")

the total sum of the list is : 148.7430