In [ ]:
#while loop that prints numbers starting from 0 indefinitely
i = 0
while True:
    print(i)
    i = i+1

In [ ]:
#while loop that prints all items in a list
thislist = ["banana", "apple", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i+1

banana
apple
cherry

In [ ]:
#for loop that prints all items in a list
fruits = ["apple","banana","cherry","kiwi","mango"]
newlist = []

for x in fruits :
    if "k" or "a" or "m" in x :
            newlist.append(x)
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
#sort a list in descending order
thislist = ["Orange", "mango", "apple","kiwi", "Banana","1", "2", "3", "4"]
thislist.sort(reverse = True)
print(thislist)

['mango', 'kiwi', 'apple', 'Orange', 'Banana', '4', '3', '2', '1']

In [ ]:
#sort a list in ascending order
thislist = ["Orange", "mango", "apple","kiwi", "Banana","1", "2", "3", "4"]
thislist.sort()
print(thislist)

['1', '2', '3', '4', 'Banana', 'Orange', 'apple', 'kiwi', 'mango']

In [ ]:
#reverse the order of a list
thislist = ["Orange", "mango", "apple","kiwi", "Banana","1", "2", "3", "4"]
thislist.reverse()
print(thislist)

['4', '3', '2', '1', 'Banana', 'kiwi', 'apple', 'mango', 'Orange']

In [ ]:
#copy a list
krish = ["original", "copyright", "hardwork"]

priyraj = krish.copy()
print(priyraj)

['original', 'copyright', 'hardwork']

In [ ]:
#copy a list using list() function
krish = ["original", "copyright", "hardwork"]

priyraj = list(krish)

print(priyraj)

['original', 'copyright', 'hardwork']

In [ ]:
#copy a list using slicing
krish = ["original", "copyright", "hardwork"]

priyraj = krish[:]

print(priyraj)

['original', 'copyright', 'hardwork']

In [ ]:
#concatenate two lists
krish = ["original", "copyright", "hardwork"]

Priyraj =["original", "copyright", "hardwork"]

dj = krish + priyraj

print(dj)

['original', 'copyright', 'hardwork', 'original', 'copyright', 'hardwork']

In [ ]:
#concatenate two lists using for loop
list1 =["original", "copyright", "hardwork"]
list2 = ["original", "copyright", "hardwork"]

for x in list1:
    list2.append(x)

print(list2)

['original', 'copyright', 'hardwork', 'original', 'copyright', 'hardwork']

In [ ]:
#concatenate two lists using extend() function
list1 =["original", "copyright", "hardwork"]
list2 = ["original", "copyright", "hardwork"]

list1.extend(list2)

print(list1)

['original', 'copyright', 'hardwork', 'original', 'copyright', 'hardwork']

In [ ]:
#unpack a list
list1 = ("germany", "bulgary","soviet","ukraine", "gaza", "israel", "usa")

(usa, israel, gaza,*germany ) = list1

print(gaza)
print (usa)
print(germany)
print(israel)

soviet
germany
['ukraine', 'gaza', 'israel', 'usa']
bulgary

In [ ]:
#multiply the items in a tuple
fruits = ("apple","banana", "cherry")

mytuple = fruits *2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
#while loop that prints numbers from 0 to 8
i = 0
while i < 9:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8

In [ ]:
#while loop that prints numbers from 0 to 9 and stops the loop when i is 9
i = 0
while i < 11:
   print(i)
   if i==9:
    break 
   i += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
#while loop that prints numbers from 0 to 6 and skips the number 3
i = 0

while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [ ]:
#for loop that prints numbers from 0 to 5 and then prints "sheila ki jawani"
for x in range(6) :
    print(x)
else :
    print("sheila ki jawani")

0
1
2
3
4
5
sheila ki jawani

In [ ]:
#nested for loop that prints all combinations of two lists
dj = ["red", "blue","green", "purple"]
hraj = ["white", "black", "gray"]

for x in dj:
    for y in hraj:
        print(x, y)

red white
red black
red gray
blue white
blue black
blue gray
green white
green black
green gray
purple white
purple black
purple gray