In [1]:
# 1. Write a single-line comment and print 'Hello World'.
print("hello world")

hello world

In [3]:
#2.	Use an inline comment in a print statement.
print("hello world")

hello world

In [ ]:
#3.	Write a multiline comment using #.
#This is a multiline comment
#that spans multiple lines.
#It provides detailed explanations

In [8]:
#4.	Write a multiline comment using triple quotes """.
"""hello kitty"""

'hello kitty'

In [10]:
#Create 3 valid variable names and print them.
a = 10
b = 20
c = 30
print(a, b, c)

10 20 30

In [11]:
#6.	Show an invalid variable name and explain why
a = 1asf
print ("a")

SyntaxError: invalid decimal literal (2123179940.py, line 2)

In [12]:
#7.	Assign values to multiple variables in one line and print them
x, y, z = 5, 10, 15
print(x, y, z)

5 10 15

In [13]:
#8.	Assign one value to multiple variables and print them
x = y = z = 42
print(x, y, z)

42 42 42

In [17]:
#9.	Create variables of type int, float, complex and print their types.
a = 5
b = 3.14
c = 2 + 3j
print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [82]:
# 10.Show reassignment of a variable with a new type.

var1 = 4
var2 = 8.33
print(var1)
var1 = var2
print(var1)

4
8.33

In [ ]:
#11. Declare a string and convert it to uppercase.
string = "hello"
string.upper()

'HELLO'

In [ ]:
#12. Convert a string to lowercase.
string = "HELLO"
string.lower()

'hello'

In [30]:
#13. Remove spaces from the beginning and end of a string using strip().
string = "              hi, mr krish          "
string.strip()

'hi, mr krish'

In [35]:
#14. Replace 'Python' with 'Java' in a string.
string = "Python"
new_string = string.replace("Python","Java")

print(f"{new_string}")

Java

In [ ]:
#15. Concatenate two strings with +.
a = "krish"
b = "Soni"

add = a + b

print(f"{add}")

krish	Soni

In [47]:
#16. Concatenate two strings with a space in between.
a = "krish\t"
b = "Soni"

add = a + b

print(f"{add}")

krish	Soni

In [51]:
#17.Format a string using f-strings (showing age).
age = 22
print(f"Hi, i m Krish and i m {age} years old")

Hi, i m Krish and i m 22 years old

In [59]:
#18.Format a string with a decimal using :.2f.
krish = 20.2222
print(f"{krish:.2f}")

20.22

In [60]:
#19. Demonstrate \n (newline) in a string.
print("hello \n this is a new line")

hello
 this is a new line

In [64]:
#20. Demonstrate \t (tab) in a string.
print("i\tm\twriting\tthis\twithout\tany\tspaces")

i	m	writing	this	without	any	spaces

In [65]:
#21. Declare a float variable and print it.
a = 14.98
print(a)

14.98

In [66]:
#22. Perform addition of two floats.
a = 14.98
b = 44.02
print(a + b)

59.0

In [67]:
#23. Multiply two floats (area of rectangle).
L = 10.11
B = 5.89

area = L*B

print (area)

59.54789999999999

In [69]:
#24. Divide two floats and show result.
a = 5.5
b = 2.5

print (a / b)

2.2

In [84]:
#25.Calculate power using floats.

a = 5**3

print(a)

125

In [70]:
#26.Multiply integer with float.
a = 5
b = 2.2

print (a*b)

11.0

In [73]:
#27. Round a float to 2 decimal places.
a = 14.88827632
print (f"round off value is {a:.2f}")

round off value is 14.89

In [87]:
#28. Convert a float to an integer.

a = 5.6
b = a

print(int(a))

5

In [79]:
#29. Print a negative float value.
a = -231.1231

print(a)

-231.1231

In [1]:
#30. Store multiple floats in a list and print their sum.
a = 10.123
b = 135.131
c = 123.867
d = 5.71

list = [a + b + c +d]
print (list)

[274.83099999999996]

In [2]:
#31. Take two integers as input and print their sum.

a = int(input("Enter First number : "))
b = int(input("Enter second number : "))

print (a + b)

8

In [4]:
#32. Take two complex numbers and print their sum.

a = 4 + 6j
b = 2 + 9j

print (a + b)

(6+15j)

In [6]:
#33. Check if a user-entered number is positive.

a = float(input("Enter value"))

print(f"The value is positive {a > 0}")

The value is positive False

In [13]:
#34. Check if a user-entered number is even.

a = float(input("Enter a number"))

print(f"the entered number is even {a % 2 == 0}")

the entered number is even True

In [20]:
#35. Check if a user-entered number is divisible by 5.

a = float(input("Enter a number"))

print(f"the entered number is divisible by 5 {a % 5 == 0}")

the entered number is divisible by 5 False

In [23]:
#36. Check if two user-entered numbers are equal.

a = float(input("Enter frist number"))
b = float(input("Enter second number"))

print (f"the entered numbers are equal {a == b}")

the entered numbers are equal True

In [24]:
#37. Check if a string contains only alphabets (isalpha()).

a = "krish"

print(f"entered value is an alphabets {a.isalpha()}")

entered value is an alphabets True

In [28]:
#38. Check if a string is a palindrome.

a = "mom"
print(f"entered string is palindrome {a == a [::-1]}")

entered string is palindrome True

In [30]:
#39. Check if a number is greater than another number.

a = 7
b = 2

print(f"frist number is higher than the second number {a > b}")

frist number is higher than the second number True

In [32]:
#40. Check if a number lies between 1 and 10.

a = 8

print(f"entered number lies between 1 and 10 { 1 < a < 10}")

entered number lies between 1 and 10 True

In [2]:
#41. Create a list of 3 fruits and print it.

list = ["banana", "apple", "orange"]

print(list)

['banana', 'apple', 'orange']

In [35]:
#42. Create a list with duplicate values and print it.

list = ["banana", "apple", "orange","banana", "apple", "orange"]
print(list)

['banana', 'apple', 'orange', 'banana', 'apple', 'orange']

In [38]:
#43. Find the length of a list using len().

list = ["banana", "apple", "orange","banana", "apple", "orange"]

len(list)

6

In [41]:
#44. Create a mixed data type list and print it.

list = ["2", "2.2", "krish", "@krish"]
print(list)

['2', '2.2', 'krish', '@krish']

In [45]:
#45.Access the second element of a list.

list = ["2", "2.2", "krish", "@krish"]

print(list[1])

2.2

In [47]:
#46. Access the last element of a list using negative index.

list = ["2", "2.2", "krish", "@krish","2", "2.2", "krish", "apple"]

print(list[-1])

apple

In [48]:
#47. Print a sublist using slicing (2:5).

list = ["2", "2.2", "krish", "@krish","2", "2.2", "krish", "apple"]

print(list[2:5])

['krish', '@krish', '2']

In [49]:
#48. Print all elements from index 2 to end.
list = ["2", "2.2", "krish", "@krish","2", "2.2", "krish", "apple"]

print(list[2:])

['krish', '@krish', '2', '2.2', 'krish', 'apple']

In [76]:
#49. Check if 'apple' exists in a list.
list = ["2", "2.2", "krish", "@krish","2", "2.2", "krish", "apple"]

if "apple" in list:
    print("yes apple exists in the list")
else:
    print("apple does not exists in the list")

yes apple exists in the list

In [80]:
#50. Print numbers from 1 to 10 using range() in a loop.

for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10